.Chessboard-container {
  /* display: grid; */
  height: 100%;
  background-color: silver;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
}
